{
    "zabbix-server": {
        "zabbix_groups": ["Zabbix servers"],
        "zabbix_templates": ["Template OS Linux","Template Postfix Queue","Template MySQL XtraDB","Template MySQL Master"]
    },
    "galera arbitrator": {
        "zabbix_groups": ["other"]
    },
    "mysql56": {
        "zabbix_templates": ["Template OS Linux","Template MySQL Master"],
        "detach_zabbix_groups_by_fact": [
             {
                "puppet_fact_name": "mysql_role",
                "puppet_fact_value": "master",
                "zabbix_group": ["mysql-slave"]
            },
            {
                "puppet_fact_name": "mysql_role",
                "puppet_fact_value": "master",
                "zabbix_group": ["mysql-slave"]
            }
        ],
        "attach_zabbix_groups_by_fact": [
             {
                "puppet_fact_name": "mysql_role",
                "puppet_fact_value": "master",
                "zabbix_group": ["mysql-master"]
            },
            {
                "puppet_fact_name": "mysql_role",
                "puppet_fact_value": "slave",
                "zabbix_group": ["mysql-slave"]
            }
        ]
    }
}
